<!DOCTYPE html>
<html>
  <head>
  	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Human Interactive">
	
    <title><%= __("Error.404.Title") %></title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bundle.min.css" />
   
  </head>
  <body>
  
  <div class="container-fluid">
   <div class="row">
   		<div class="col-md-12 not-found">
   			<h1>404</h1>
			<p><%= __("Error.404.Text") %><br/>URL: <%= url %></p>
			<p><a href="/" class="btn btn-primary btn-lg" role="button" title="<%= __("Error.404.Button") %>"><%= __("Error.404.Button") %></a></p>
   		</div>
	  </div>
	</div>
		
  </body>
</html>
