<!DOCTYPE html>
<html>
  <head>
  	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="Human Interactive">
	
    <title><%= name %> <%= version %></title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bundle.min.css" />
    
    <!-- JavaScript -->
    <% if( isDevModeActive === true ){ %>
    	<script src="/javascript/bundle.js"></script>
    <% }else{ %>
    	<script src="/javascript/bundle.min.js"></script>
    <% } %>
    
    <script>

		var parameter = {};
		
		parameter.name =  "<%= name %>";
		parameter.version = "<%= version %>";
		parameter.locale = "<%= locale %>";
		parameter.cdn = "<%= cdn %>";
		parameter.isDevModeActive = <%= isDevModeActive %>;
		parameter.isMultiplayerActive = <%= isMultiplayerActive %>;
		
		sessionStorage.setItem( "parameter", JSON.stringify( parameter ) );
		
	</script>
  </head>
  <body>
  <section id="ui-container">
 	
  	<!-- Menu
    ================================================== -->
  	<section id="menu" >
  		<a href="https://github.com/Mugen87/yume/blob/water/src/javascript/engine/etc/Water.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header>
						<h2><%= __("Game.Menu.Headline") %></h2>
						<p>
							<%= __("Game.Menu.Description") %>
						</p>
						<p>
							Reference: <a href="http://www.valvesoftware.com/publications/2010/siggraph2010_vlachos_waterflow.pdf" target="_blank">Water Flow in Portal 2</a>
						</p>
					</header>	
						
					<div class="content">
						<div>
							<h2><%= __("Game.Menu.Controls") %></h2>
							<ul>
								<li>
									<%= __("Game.Menu.Controls.Move") %>
								</li>
								<li>
									<%= __("Game.Menu.Controls.Look") %>
								</li>
								<li>
									<%= __("Game.Menu.Controls.Crouch") %>
								</li>
								<li>
									<%= __("Game.Menu.Controls.Run") %>
								</li>
								<li>
									<%= __("Game.Menu.Controls.Menu") %>
								</li>
							</ul>
						</div>
					</div>
					
					<footer>
						<a class="btn btn-primary btn-lg" title='<%= __("Game.Menu.Play") %>'><%= __("Game.Menu.Play") %></a>
						<div class="text" style="float: right"><%= __("Game.Menu.PointerLock") %></div>	
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar">
						  </div>
						</div>		
					</footer>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Loading-Screen
    ================================================== -->
	<section id="loading-screen">
	    <div class="progress-container">
	    	<div class="text"><%= __("Game.LoadingScreen.Continue") %></div>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar">
			  </div>
			</div>
		</div>
	</section>
	
	<!-- Crosshairs
    ================================================== -->
	<section id="crosshairs"></section>
	
	<!-- Interaction-Label
    ================================================== -->
	<section id="interaction-label">
		<div class="content label label-primary"></div>
	</section>
	
	<!-- Text-Screen
    ================================================== -->
	<section id="text-screen">
		<div class="content"></div>
		<div class="controls"><%= __("Game.TextScreen.Continue") %></div>
	</section>
	
	<!-- Modal-Dialog
    ================================================== -->
	<section class="md-modal" id="modal-dialog">
		<div class="md-content">
			<h2></h2>
			<div>
				<div class="md-text"></div>
				<div class="btn-row">
					<a class="btn btn-primary btn-large md-close"></a>
				</div>		
			</div>
		</div>
	</section>
	<section class="md-overlay"></section>
	
	<!-- Chat
    ================================================== -->
	<section id="chat">
		<input class="form-control" type="text" placeholder="<%= __("Game.Chat.Placeholder") %>">
	</section>
	<section id="messages">
	</section>
	
	<!-- Information-Panel
    ================================================== -->
	<section id="information-panel">
		<div class="content"></div>
	</section>
	
	 <% if( isDevModeActive === true ){ %>
	
		<!-- Development-Panel
	    ================================================== -->
		<section id="development-panel">
			<header>
				<img alt="<%= name %>" src="/assets/images/logo.png" width="200" height="61"></img>
			</header>
			<nav class="breadcrumbs"><a data-subLevel="main"><%= __("Game.DevPanel.Menu") %></a></nav>
			<nav class="menu">
			
				<!-- MainMenu-->
				<ul class="level" data-level="main">
					<li class="item">
						<a href="#" class="link" data-subLevel="subLevel-1"><%= __("Game.DevPanel.Main.Stages") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-subLevel="subLevel-2"><%= __("Game.DevPanel.Main.Settings") %></a>
					</li>
				</ul>
				
				<!-- SubLevel 1 Stages -->
				<ul class="level" data-level="subLevel-1">
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="001"><%= __("Game.DevPanel.Stages.001") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="002"><%= __("Game.DevPanel.Stages.002") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="003"><%= __("Game.DevPanel.Stages.003") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="004"><%= __("Game.DevPanel.Stages.004") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="005"><%= __("Game.DevPanel.Stages.005") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="006"><%= __("Game.DevPanel.Stages.006") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="007"><%= __("Game.DevPanel.Stages.007") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="008"><%= __("Game.DevPanel.Stages.008") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="009"><%= __("Game.DevPanel.Stages.009") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="010"><%= __("Game.DevPanel.Stages.010") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="011"><%= __("Game.DevPanel.Stages.011") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="012"><%= __("Game.DevPanel.Stages.012") %></a>
					</li>
					<li class="item">
						<a href="#" class="link" data-type="stage" data-stageId="013"><%= __("Game.DevPanel.Stages.013") %></a>
					</li>
				</ul>
				
				<!-- SubLevel 2 Settings -->
				<ul class="level" data-level="subLevel-2">
					<li class="item">
						<div class="checkbox form">
						  <label>
						    <input type="checkbox" data-type="setting" data-key="showFPS">
						   	<%= __("Game.DevPanel.Settings.FPS") %>
						  </label>
						</div>
					</li>
				</ul>
				
			</nav>
		</section>
		
		<!-- Performance-Monitor
	    ================================================== -->
		<section id="performance-monitor">
			<div class="mode fps">
				<div class="text"></div>
				<div class="graph"></div>
			</div>
			<div class="mode ms">
				<div class="text"></div>
				<div class="graph"></div>
			</div>
		</section>
	
	<% } %>
	
  </section>
  <section id="canvas-container">
  </section>
  </body>
</html>
